<div style="color:black">

<span id="ASelect">Select Analysis Type: </span>
<span id="LSelect"> &nbsp; &nbsp; &nbsp; Select Geographic Extent: </span> &nbsp; &nbsp; &nbsp;
<span id="Cselect">  </span><br>
Choose One: <input type="radio" name="rtype" id="radioSpecies" checked value="Species"/> <label for="radioOne">Species</label>
<input type="radio" data-dojo-type="dijit/form/RadioButton" name="rtype" id="radioHabitat" value="Habitat"/> <label for="radioTwo">Habitat Type</label>
&nbsp; &nbsp; &nbsp;<span id="TSelect"> Choose Species: </span><span id="HSelect" style="display:none"> Choose Habitat: </span>
<br />


<i><span style="color:darkred">Click on any region to get more information.  The information will display below the map. </span></i>
<br>	<br>
        
</div>