<div>

<span style="color:black" id="LSelect">Select Geographic Extent: </span> &nbsp; &nbsp; &nbsp;
<span id="Cselect">  </span><br><i><span style="color:darkred">Click on any watershed to restrict the search to that area.  Choose additional selections from the dropdown menus below.  The information about your selections will display below the map. </span></i>
<br>

<span style="color:black" id="taxaSelect">


<div data-dojo-type="dijit/form/DropDownButton">
  <span>Status</span>
  <div data-dojo-type="dijit/DropDownMenu"  style="display: none;" >
	<div data-dojo-type="dijit/CheckedMenuItem" data-dojo-props="value: '75'">Completed</div>
	<div data-dojo-type="dijit/CheckedMenuItem" data-dojo-props="value: '76'">In Progress (Funded)</div>
	<div data-dojo-type="dijit/CheckedMenuItem" data-dojo-props="value: '77'">In Progress (Needs Funding)</div>
	<div data-dojo-type="dijit/CheckedMenuItem" data-dojo-props="value: '78'">Proposed</div>
	<div data-dojo-type="dijit/CheckedMenuItem" data-dojo-props="value: '79'">Conceptual</div>
	<div data-dojo-type="dijit/CheckedMenuItem" data-dojo-props=""><b>Between</b> Group Logic: AND (Click to Switch)</div>
	<div data-dojo-type="dijit/CheckedMenuItem" data-dojo-props=""><b>Within</b> Group Logic: OR (Click to Switch)</div>
  </div>
</div>


</span>    



</div>


